.navbar {
    .navbar-text {
      margin-left: auto;
    }
  
    .nav-item.ms-auto {
      margin-left: auto;
    }
  
    .btn-outline-light.ms-2 {
      margin-left: 10px;
    }
  
    .navbar-nav.ms-auto {
      margin-right: 10px; // Adjust margin for Register link
    }
  }
  