<app-navbar [user]="currentUser"></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <!-- Sidebar component or navigation links -->
      <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <!-- Main content area -->
      <router-outlet></router-outlet>

      <!-- Static content -->
      <div class="static-content">
        <h1>Bienvenue sur notre application de gestion de stock</h1>
        <p>Voici des informations statiques que nous avons ajoutées.</p>
        <img src="assets/static-image.jpg" alt="Image Statique">
      </div>

      <!-- QR Code Scanner Component -->
      <app-qr-scanner></app-qr-scanner>
    </div>
  </div>
</div>
