::ng-deep .mat-snack-bar-container {
    background-color: #f44336 !important; // Change background color
    color: white !important; // Change text color
    font-weight: bold !important; // Make text bold
  }
  