/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar {
    background-color: green;
  }
  
  .error-snackbar {
    background-color: red;
  }

  ::ng-deep .mat-snack-bar-container {
    background-color: #f44336 !important; // Change background color
    color: white !important; // Change text color
    font-weight: bold !important; // Make text bold
  }
  
